<div class="row">
    <div class="col-sm-12 movie-page">
        <h2 class="movie-title col-sm-12"><%= @movie.title %></h2>
        
        <div class="movie-img col-sm-4">
            <% if @movie.image? %>
                <%= image_tag @movie.image.url, :size => '220x310' %>
            <% end %>
        </div><!--movie-img-->
        
        <div class="movie-text col-sm-8">
            <span class="movie-tag">
                <i class="fa fa-tags" aria-hidden="true"> タグ一覧</i><a>2014年</a><a>戦争映画</a><a>ドイツ</a><a>ヒトラー</a>
            </span>
            
            <h3>レビュワー評価</h3>
            <ul>
                <li>映像：★★★★★</li><li>キャスト：★★★★☆</li><li>音楽：★★☆☆☆</li><li>演出：★★★★★</li><li>物語：★★★★★</li>
            </ul>
            
            <h3>あらすじ</h3>
            <p><%= @movie.story %></p>
        </div><!--movie-text-->
        
        <div class="movie-info col-sm-12">
            
            <h2>この作品のレビューを見る</h2>
            <p>レビュー１</p>
            
            <h2>この作品のスレッド</h2>
            <p>レビュー１</p>
        </div>
        
    </div>
    <%= link_to "削除", @movie, method: :delete, data: { confirm: '削除してよろしいですか？' } %> 
</div>