body{
	font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
}


/*PROFILEPAGEのCSS*/
.profile-body{
	background: #e6e6fa;
}

.profile-body h2{
	margin-bottom: 10px;
	font-size: 16px;
	color: #2b2b2b;
	text-indent: 1em;
	border-left: solid 5px #4682b4;
	border-bottom: solid 1px #325d80;
}

.wrapper-profile{
	width: 100%;
	margin: 0 auto;
	padding-bottom: 10px;
	padding: 20px 0;
}

.profile-name h1{
	display: block;
	margin: 0;
	padding: 0;
	font-size: 20px;
	line-height: 50px;
	margin: 10px 0 0 0;
	letter-spacing: 0em;
	text-align: center;
}

.profile-name img{
	display: block;
	height: 130px;
	width: 130px;
	margin: 0px auto;
	padding: 0;
	border-radius: 50%;
}

.profile-text p{
	display: block;
	width: 95%;
	height: auto;
	background: #afeeee;
	border-radius: 2px;
	padding: 1em;
	margin: auto;
	border-radius: 10px;
}


form > .btn{
	display: block;
	margin: 0 auto;
	width: auto;
	padding: 5px 1em;
}

#follow_form{
	width: auto;
	font-size: 20px;
	left: 0;
}

.tri{
	display: block;
	width: 100%;
	height: 20px;
}

.tri span{
	display: block;
	width: 100px;
	height: 20px;
	margin: 0 auto;
	border-top: solid 20px #e6e6fa;
	border-left: solid 50px rgba(0,0,0,0);
	border-right: solid 50px rgba(0,0,0,0);
}


/*MOVIEPAGEのCSS*/
.movie-page h2{
	font-size: 25px;
	text-align: left;
	color: #2f4f4f;
	text-indent: 1em;
	border-left: solid 10px #20b2aa;
	border-bottom: solid 1px #cdcdcd;
}

.movie-img img{
	display: block;
	width: 90%;
	height: auto;
	margin: 0 auto;
	box-shadow: 0px 10px 10px #cdcdcd;
}

.gen{
	display: block;
	height: 40px;
	margin: 0;
	padding: 0;
}

.gen h2{
	display: inline-block;
	font-size: 18px;
	background: #4682b4;
	text-indent: 0em;
	line-height: 30px;
	color: #fff;
	margin: 0px;
	padding: 0px 0.5em;
	float: left;
	border: none;
}

.gen-tri{
	width: 10px;
	height: 30px;
	border-left: solid 10px #4682b4;
	border-top: solid 15px rgba(0,0,0,0);
	border-bottom: solid 15px rgba(0,0,0,0);
	margin-top: 0px;
	margin: 0;
	float: left;
}

.gen a{
	font-size: 18px;
	line-height: 30px;
	text-indent: 1em;
	margin: 0 0 0 1em;
	color: #2b2b2b;
	cursor: pointer;
	transition: all 0.2s;
}

.gen a:hover{
	text-decoration: none;
	color: #4682b4;
}

.movie-text h3{
	font-size: 18px;
	border-left: solid 3px #20b2aa;
	border-bottom: solid 1px #cdcdcd;
	text-indent: 1em;
	line-height: 2em;
	clear: both;
}

.movie-text ul{
	padding: 0;
	height: auto;
	float: left;
}

.movie-text ul li{
	display: block;
	font-size: 13px;
	margin: 0 1em 0.5em 0;
}

.movie-text p{
	font-size: 17px;
	line-height: 1.8em;
	padding: 1em;
	margin: 10px 0 0 0;
}

.movie-text p:first-letter{
	font-size: 2em;
}

.movie-tag{
	display: block;
}

.movie-tag i{
	font-size: 18px;
	margin-right: 1em;
	background: #cd5c5c;
	color: #f5f5f5;
	padding: 6px;
	border-radius: 5px;
	font-weight: bold;
}

.movie-tag a{
	display: inline-block;
	color: #cd5c5c;
	font-size: 17px;
	padding: 3px 6px;
	margin-right: 0.7em;
	margin-bottom: 0.5em;
	border-radius: 4px;
	border: solid 1px #cd5c5c;
	transition: all 0.2s ease-in-out;
}

.movie-tag a:hover{
	text-decoration: none;
	cursor: pointer;
	background: #cd5c5c;
	color: #f5f5f5;
}


.movie-info{
	padding: 10px 20px;
}

.movie-info h2{
	font-size: 23px;
	line-height: 1.8em;
	text-indent: 0.5em;
	text-align: left;
}




@media (max-width:768px){
	
	.profile-name img{
	height: 90px;
	width: 90px;
	}
	
	
	.profile-text p{
		margin: 20px 0;
	}
	
	.movie-page h2{
		font-size: 20px;
		text-indent: 0em;
		border-left: solid 6px #20b2aa;
	}
	
	.movie-img img{
		width: 40%;
	}
	
	.profile-body h2{
		font-size: 14px;
		color: #2b2b2b;
		text-indent: 0;
	}
	
	.gen{
		margin-top: 30px;
	}
	
	.movie-info h2{
		font-size: 18px;
		text-indent: 1em;
	}
	
	.gen h2{
		border: none;
	}

}


@media (max-width:450px){
	.movie-img img{
		width: 80%;
	}
}

